
#chocolate_rains
  - for (i = 0; i < 30; i++)
    .heart
      .ring
      .inner
        .regular
          .movable
            .left
            .right
        .reverse
          .movable
            .left
            .right

<div class="container">

  <div class="card">
    <div class="envelope"></div>
    <h3><em>Yuchen</em>, mon adorée.</br></br>J'espère qu'avant peu je te serrerai dans mes bras, et je te couvrirai d'un million de baisers brûlants comme sous l'Équateur.   </h3>
    
    <form name="myform" method="post" action="do.php">
    <label for="pass"><h5>Tu m'aimes?</h5> </label>
    <input type="password" name="" id="pass" class="pass"/>
    <input type="button" name="" id="btn" value="Enter" />
    </form>
    
    <div class="heart1"></div>
    
  </div>

</div>